
.container{
    background-color: #aa9090;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 10px;
    width: 300px;
    height: 320px;
    box-shadow: 4px 4px;
    margin: 0 auto;
}
label {
    padding: 8px 2px 2px 0;
    display: block;
    
  }
input{
    width: 65%;
    padding: 4px;
    border: 1px solid;
    border-radius: 4px;
    color: lightslategray; 
    box-shadow: 0.5px 0.5px #e7dddd; 
  }
input[type=submit] {
    width: fit-content;  
    color: rgb(79, 96, 112); 
   
;}

.submit{
margin-top: 10px;
}

@font-face {
  font-family: "grotesk";
  src: url("assets/ArchivGroteskTrial-RegularTrial.otf");
   }
body {
  background-color: #C27748;
  text-align: center;
  color: aliceblue;
}
.part1 {
  width: 140px;
  height: 35px;
  background-color: #D5E6F1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: auto;
  margin-bottom: 20px;
}
.nompart {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  color: #86462D;
}
.part1:hover .nompart {
  color: #320404;
}